#chart {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  max-width: 500px;
}

#chart #graph-bar {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  z-index: -1;
}
