body {
  background-color: #212121;
  color: #fafafa !important;
}
* {
  color: #fafafa !important;
  transition: all 0.2s ease;
}

#chart {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#chart #graph-bar {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  z-index: -1;
}

.equation-input {
  display: flex;
  align-items: center;
  justify-content: center;
}
.equation-input-interval {
  display: flex;
  gap: 4px;
}
.equation-input-interval label {
  font-size: 200px;
  line-height: 200px;
  transform: translateY(-30px);
}
.equation-input-interval-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.equation-input-interval-inputs input {
  width: 100px;
  border-radius: 500px 0 0 500px;
}

.equation-input-function {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.equation-input-function input {
  border-radius: 500px;
}
.equation-input-function-wrapper {
  position: relative;
}
.equation-input-function .equation-input-operators {
  position: absolute;
  top: calc(100% + 8px);
  right: 0;
}

#n-slider {
  width: 100%;
}

.grow {
  flex-grow: 1;
}

.btn {
  border-radius: 500px;
}

#mathquill-input {
  min-width: 200px;
  width: 100%;
  padding: 8px;
  border-radius: 500px;
  border-color: #fafafa;
}
#mathquill-input * {
  color: #fafafa;
  border-color: #fafafa;
}
#mathquill-input:focus {
  outline: 1px solid #fafafa;
}

.dropdown-menu li {
  cursor: pointer !important;
}
.equation-input-result {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.equation-input-interval-inputs-input {
  position: relative;
  display: flex;
}
.equation-input-interval-inputs-input .btn {
  border-radius: 0 500px 500px 0;
}
span a {
  text-decoration: none !important;
}

.mq-focused {
  box-shadow: 0 0 0 0.25rem rgb(120, 0, 120) !important;
  border-color: rgb(120, 0, 120) !important;
}
